/target

# Using pnpm to grab icons, however we selectively copy them as we don't need all of them
node_modules

# use .vscode for workstation specific settings..
.vscode

# hide Mac OS X specific files
.DS_Store
